

 body {

 font-family: Arial, sans-serif; /* Sets the default font for the whole page */

 margin: 1; /* Removes default browser margin */

 background: #928383; /* Sets light gray background color */

 }

 header {

 background: #667583ca; /* Sets dark blue background for header */

 color: rgb(248, 248, 248); /* Sets header text color to white */

 padding: 20px; /* Adds space inside the header */

 text-align: center; /* Centers the header text */

 }

 nav {

 background: #502b38; /* Sets medium blue background for navigation bar */

 padding: 20px; /* Adds inner spacing for nav bar */

 text-align: center; /* Centers the nav links */

 }

 nav a {

 color: rgb(255, 252, 252); /* Sets link text color to white */

 margin: 0 15px; /* Adds horizontal spacing between menu items */

 text-decoration: none; /* Removes underline from links */

 font-weight: bold; /* Makes navigation text bold */

 }
 

 .hero{
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f4f4;
}


 section {

 padding: 40px; /* Adds inner spacing inside sections */

 max-width: 1100px; /* Limits section width for better layout */

 margin: auto; /* Centers section in the page */

 background: rgb(64, 70, 71); /* Sets white background for content */

 margin-top: 20px; /* Adds space above each section */

 border-radius: 10px; /* Rounds the section corners */

 }

 h2 {

 color: #ebe3e3; /* Sets heading color to dark blue */

 }

 .footer {

 text-align: center; /* Centers footer text */

 padding: 20px; /* Adds padding inside footer */

 background: #4e4ea5; /* Sets footer background color */

 color: white; /* Sets footer text color */

 margin-top: 20px; /* Adds spacing above footer */

 }