
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: linear-gradient(to right, #2c3e50, #4ca1af);
}

/* HEADER */
header {
    background: #1f2a38;
    color: white;
    padding: 40px 20px;
    text-align: center;
}

/* PROFILE PICTURE */
.profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid rgb(14, 13, 13);
    box-shadow: 0 5px 15px rgba(0,0,0,0.4);
    margin-bottom: 15px;
}

/* NAVIGATION */
nav {
    background: #111;
    padding: 15px;
    text-align: center;
}

nav button {
    background: none;
    border: none;
    color: white;
    margin: 0 20px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

nav button:hover {
    color: #4ca1af;
}

/* SECTIONS */
section {
    display: none; /* hide all by default */
    padding: 40px;
    max-width: 900px;
    margin: 30px auto;
    background: white;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #1f2a38;
}

/* FOOTER */
.footer {
    text-align: center;
    padding: 20px;
    background: #1f2a38;
    color: white;
}